* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #131313;
    background-image: url(https://images.unsplash.com/photo-1482164565953-04b62dcac1cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: cover; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container a:first-child {
    margin-bottom: 4%;
}

.btn-common {
    font-weight: 300;
    display: inline-block;
    border-radius: 1.5rem;
    background-image: linear-gradient(45deg, #C38154 0%, #FFC26F 50%, #6f3e31 100%); 
    background-position: 100%;
    background-size: 200% 200%;
    color: black;
    box-shadow: 0 16px 32px 0 rgba(48, 28, 0, 0.483); 
    transition: all .3s ease;
    text-align: center;
}

.btn-common:hover {
    box-shadow: 0 0 0 0 rgba(48, 28, 0, 0);
    background-position: 0;
}

.btn-main-page {
    width: 30%;
    font-size: 1.9rem;
    padding: 0.6rem 1.5rem;
}

/* строка предсказаний */
.wrapper {
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.box__hidden-text {
    opacity: 0;
    font-size: 2.1rem;
    margin-top: 3.1rem;
    color: white;
    min-height: 90px;
}

.box__btn-container {
    display: flex;
    flex-direction: column;
}

.btn-string-page {
    border: none;
    font-size: 1.9rem;
    width: 15.6rem;
    margin-bottom: 1.2rem;
    background-color: #6f3e31;
    padding: 0.6rem 1.5rem;
}

/* карточки */
.header {
    display: flex;
    justify-content: center;
    height: 35vh;
    align-items: center;
}

.header h2 {
    font-size: 2.1rem;
    color: white;
    font-weight: 500;
}

.holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.holder__item {
    width: 300px;
    height: 420px;
    position: relative;
    perspective: 1000px;
    border: 1px solid #3a2a1a;
    border-radius: 3.1rem;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
}

.holder__front,
.holder__back {
    position: absolute;
    width: 300px;
    height: 420px;
    left: -1px;
    top: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    background-color: #3a2a1a8a; 
}

.holder__front {
    background-color: transparent;
    border-radius: 3.1rem;
}

.holder__front img{
    width: 300px;
    height: 420px;
    border-radius: 3.1rem;
}

.holder__back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3.1rem;
}

.holder__back img {
    width: 280px; 
}

.holder__text {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column:last-child {
    margin-bottom: 3%;
}

.btn-cards-page {
    font-size: 1.5rem;
    border: none;
    background-color: #6f3e31;
    padding: 0.6rem 1.5rem;
    width: 25%;
    margin-top: 1.2rem;
}

@media all and (max-width: 1025px) {
    .header {
        height: 20vh;
    }

    .btn-cards-page {
        width: 40%;
    }
}

@media all and (max-width: 950px) {
    .btn-main-page {
        width: 65%;
    }

    .box__hidden-text {
        text-align: center;
        min-height: 120px;
    }
}

@media all and (max-width: 800px) {
    .btn-main-page {
        width: 60%;
    }

    .holder__item {
        margin-bottom: 1.8rem;
    }

    .btn-cards-page {
        width: 45%;
    }
}

@media all and (max-width: 750px) {
    .btn-main-page {
        width: 70%;
    }
}


@media all and (max-width: 500px) {
    body {
        background-image: linear-gradient( rgba(0, 0, 0, 0.3) , rgba(0, 0, 0, 0.3) ), url(https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);  
    }

    .btn-main-page,
    .btn-string-page,
    .holder__text {
        font-size: 1.25rem;
    }

    .btn-string-page {
        width: 13rem;
    }

    .box__hidden-text {
        font-size: 1.8rem;
        min-height: 180px;
    }

    .header h2 {
        font-size: 1.5rem;
    }

    .holder__item,
    .holder__front,
    .holder__back,
    .holder__front img {
        width: 220px;
        height: 350px;
    }
    
    .holder__back img {
        width: 200px; 
    } 

    .btn-cards-page {
        font-size: 1.2rem;
        width: 70%;
    }
}

@media all and (max-width: 320px)  {
    .btn-main-page {
        width: 80%;
        padding: 0.2rem 1rem;
    }

    .box__hidden-text {
        font-size: 1.5rem;
    }

    .header {
        height: 30vh;
    }

    .btn-cards-page {
        width: 75%;
    }
}

@media all and (max-width: 915px) and (orientation: landscape) {
    .box__hidden-text {
        font-size: 1.9rem;
    }

    .btn-string-page {
        font-size: 1.5rem;
        width: 13rem;
        padding: 0.4rem 1rem;
        margin-bottom: 0.8rem;
    }

    .header {
        height: 35vh;
    }
}

@media all and (max-width: 668px) and (orientation: landscape) {
    .header {
        height: 45vh;
    }

    .header h2 {
        font-size: 1.8rem;
    }

    .btn-cards-page {
        width: 50%;
    }
}

@media all and (max-width: 570px) and (orientation: landscape) {
    .btn-main-page {
        width: 80%;
        padding: 0.3rem 0.8rem;
    }

    .box__hidden-text {
        font-size: 1.6rem;
    }

    .btn-string-page {
        font-size: 1.3rem;
        width: 11rem;
        padding: 0.3rem 0.9rem;
    }

    .btn-cards-page {
        width: 60%;
    }
}
